* {
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
	margin-left: auto;
    margin-right: auto
}
body {
		background-color: #EFF4FB;
}

.jumbotron {
	color: #181919;
}

#tableDiv {
	height: 40vh;
	overflow-y: scroll;
	display: inline-block;
	width: 100%;
}

.nyTimes a {
	word-break:break-all;
}

a {
	color: green;
}

.container {
	margin-bottom: 20px;
}

select {
	margin: 20px;
	padding: 5px;
	font-size: 16px;
	position: relative;
	left:85px;
	font-weight: 700;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 34px;
   -webkit-appearance: none;
   border-radius:4px; border:1px solid #AAAAAA;
}

.articleHeadline {
	color: #808080;
	font-weight: 700;
}

.articleSnippet {

}
#signup {
	position: relative;
	left: -20px;
}
#news{
	position: relative;
	left: -20px

}